body {
  background-color: darkgrey;
  display: flexbox;
  text-align: center;
}

.yellow {
background-color: yellow;
}
.green {
  background-color: green;
  }
.black {
    background-color: black;
    color:white
    } 
button{
  width: 200px;
  height: 50px;
  font-size: 2cap;
  border: 0px;
  margin: 5px;
  border-radius: 5px;
}
.selected-color{
  font-size: 5cap;
}
